<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="fragments/head :: head"/>
<body>

<a class="btn btn-lg" th:href="@{/logout}">Logout</a>
<br>
<a class="btn btn-lg" th:href="@{/admin/products}">Products</a>
|
<a class="btn btn-lg" th:href="@{/admin/new-product}">New product</a>
|
<a class="btn btn-lg" th:href="@{/admin/statistics/index}">Statistics</a>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Admin main page</h1>
        </div>
    </div>
</div>
</body>
</html>