<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="fragments/head :: head"/>
<body>

<a th:href="@{/admin/index}">Admin home</a>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Admin products page</h1>

            <div>
                <table class="table" th:object="${products}">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Type</th>
                        <th>Total quantity</th>
                        <th>Total mass</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${products.isEmpty()}">
                        <td>No products yet</td>
                    </tr>
                    <tr th:each="product : ${products}">
                        <td th:text="${product.id}">id</td>
                        <td th:text="${product.name}">name</td>
                        <td th:text="${#numbers.formatDecimal(product.price,0,2,'COMMA')}">price
                        </td>
                        <td th:text="${product.productType}">type</td>
                        <td th:text="${#numbers.formatInteger(product.totalQuantity,0)}">quantity
                        </td>
                        <td th:text="${#numbers.formatDecimal(product.totalMass,0,2,'COMMA')}">mass
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>