<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="fragments/head :: head"/>
<body>

<a class="btn btn-lg" th:href="@{/logout}">Logout</a>
<br>
<a class="btn btn-lg" th:href="@{/cashier/index}">User home</a>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">User new-check page</h1>
        </div>
    </div>

    <table class="table" th:object="${entries}">
        <thead>
        <tr>
            <th>#</th>
            <th>Product id</th>
            <th>Product name</th>
            <th>Quantity</th>
            <th>Mass</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="*{checkEntries.isEmpty()}">
            <td>No products yet</td>
        </tr>
        <tr th:each="entry,entryStat : *{checkEntries}">
            <td th:text="${entryStat.count}">1</td>
            <td th:text="${entry.product.id}">id</td>
            <td th:text="${entry.product.name}">name</td>
            <td th:if="${entry.product.productType == entry.product.productType.PIECE}"
                th:text="${#numbers.formatInteger(entry.quantity,0)}">quantity
            </td>
            <td th:unless="${entry.product.productType == entry.product.productType.PIECE}">-</td>
            <td th:if="${entry.product.productType == entry.product.productType.BULK}"
                th:text="${#numbers.formatDecimal(entry.mass,0,3,'COMMA')}">quantity
            </td>
            <td th:unless="${entry.product.productType == entry.product.productType.BULK}">-</td>
        </tr>
        </tbody>
    </table>
    <form th:action="@{/cashier/new-check}" th:object="${entry}" method="post">
        <div>
            <label for="search">Product id or name</label>
            <input class="form-control" type="text" id="search" th:field="*{searchBy}"
                   placeholder="id or name"/>
        </div>
        <div>
            <label for="number">Quantity or mass</label>
            <input class="form-control" type="text" id="number" th:field="*{number}"
                   placeholder="quantity or mass"/>
        </div>
        <div>
            <button class="btn btn-default" type="submit" name="add">Add product</button>
        </div>
        <br>
        <div>
            <button class="btn btn-default" type="submit" name="submit">Save check</button>
        </div>
    </form>
</div>
</body>
</html>