<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="fragments/head :: head"/>
<body>
<th:block th:insert="fragments/language :: language"/>

<a class="btn btn-lg" th:href="@{/logout}" th:text="#{link.logout}">Logout</a>
<br>
<a class="btn btn-lg" th:href="@{/admin/index}" th:text="#{link.home}">Home</a>
|
<a class="btn btn-lg" th:href="@{/admin/statistics/report/x}" th:text="#{link.report.x}">X report</a>
|
<a class="btn btn-lg" th:href="@{/admin/statistics/report/z}" th:text="#{link.report.z}">Z report</a>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header" th:text="#{title.admin.statistics.page}">Admin statistics page</h1>
        </div>
    </div>
</div>
</body>
</html>